<p-toast></p-toast>
<p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>

<div class="card">
    <p-table [value]="escolaridades" dataKey="id" [rows]="10" [showCurrentPageReport]="true"
        [rowsPerPageOptions]="[10,25,50]" styleClass="p-datatable-gridlines" [paginator]="true"
        currentPageReportTemplate="Mostrando {first} até {last} de {totalRecords} escolaridades"
        [globalFilterFields]="['NomeEscolaridade']" [rowHover]="true" #dt>
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                <button pButton pRipple label="Novo" icon="pi pi-plus" class="p-buttonp-button-success mr-2"
                    (click)="openNew()"></button>
                    <span style="font-size: 1.2em; font-weight: bold;">Listagem de Escolaridades</span>
                <span class="p-input-icon-left">
                    <input pInputText type="text" (input)="dt.filterGlobal($any($event.target).value, 'contains')"
                        placeholder="Pesquisar..." />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="NomeEscolaridade">Escolaridade<p-sortIcon field="NomeEscolaridade"></p-sortIcon>
                <th pSortableColumn="NomeEscolaridade">Ações<p-sortIcon field="NomeEscolaridade"></p-sortIcon>
                </th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-escolaridade>
            <tr>
                <td>{{escolaridade.NomeEscolaridade}}</td>
                <td>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-info mr-2"
                        (click)="editEscolaridade(escolaridade)"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger"
                        (click)="deleteEscolaridade(escolaridade)"></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

<p-dialog [(visible)]="escolaridadeDialog" [style]="{width: '450px'}" header="Detalhes da Escolaridade" [modal]="true"
    styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="field">
            <label for="NomeEscolaridade" class="block">Nome</label>
            <input type="text" pInputText id="NomeEscolaridade" [(ngModel)]="escolaridade.NomeEscolaridade" required
                autofocus />
            <small class="p-error block" *ngIf="submitted && !escolaridade.NomeEscolaridade">Escolaridade é
                obrigatória.</small>
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-secondary" [raised]="true"
            (click)="hideDialog()"></button>
        <button pButton pRipple label="Salvar" icon="pi pi-check" class="p-button" [raised]="true"
            (click)="saveEscolaridade()"></button>
    </ng-template>
</p-dialog>