<p-toast></p-toast>
<p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>

<div class="card">
    <span style="font-size: 1.5em; font-weight: 400;">Unidades</span>
    <hr>
    <p-table [value]="unidades" dataKey="id" [rows]="20"
        styleClass="p-datatable-gridlines p-datatable-striped" [paginator]="true"
        [globalFilterFields]="['NomeUnidade', 'Empresa.NomeEmpresa']" [rowHover]="true" #dt>
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                <button pButton pRipple label="Novo" icon="pi pi-plus" class="p-button-outlined mb-2"
                    (click)="openNew()"></button>
                <span class="p-input-icon-left">
                    <input pInputText type="text" (input)="dt.filterGlobal($any($event.target).value, 'contains')"
                        placeholder="Pesquisar..." />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="NomeUnidade">Unidade<p-sortIcon field="NomeUnidade"></p-sortIcon></th>
                <th pSortableColumn="Empresa.NomeEmpresa">Empresa<p-sortIcon field="Empresa.NomeEmpresa"></p-sortIcon></th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-unidade>
            <tr>
                <td>{{unidade.NomeUnidade}}</td>
                <td>{{unidade.Empresa?.NomeEmpresa}}</td>
                <td>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-info mr-2"
                        (click)="editUnidade(unidade)"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger"
                        (click)="deleteUnidade(unidade)"></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

<p-dialog [(visible)]="unidadeDialog" [style]="{width: '35vw'}" header="Detalhes da Unidade" [modal]="true">
    <ng-template pTemplate="content">
        <p-steps [model]="steps" [(activeIndex)]="activeIndex" [readonly]="true"
            [style]="{margin: '0 0 30px 0'}"></p-steps>

        <form [formGroup]="formSteps[activeIndex]">
            <div [ngSwitch]="activeIndex">
                <div *ngSwitchCase="0">
                    <div class="grid">
                        <div class="col-12 md:col-6">
                            <input type="text" placeholder="Nome da Unidade" pInputText id="NomeUnidade"
                                formControlName="NomeUnidade" required autofocus
                                [ngClass]="{'p-invalid': submitted && formSteps[0].controls['NomeUnidade'].invalid}" />
                            <small class="p-error block"
                                *ngIf="submitted && formSteps[0].controls['NomeUnidade'].invalid">Nome é
                                obrigatório.</small>
                        </div>
                        <div class="col-12 md:col-6">
                            <p-select [options]="empresas" optionLabel="NomeEmpresa" optionValue="Id"
                                placeholder="Selecione uma Empresa" formControlName="IdEmpresa" appendTo="body"
                                [ngClass]="{'p-invalid': submitted && formSteps[0].controls['IdEmpresa'].invalid}"></p-select>
                            <small class="p-error block"
                                *ngIf="submitted && formSteps[0].controls['IdEmpresa'].invalid">Empresa é
                                obrigatório.</small>
                        </div>
                    </div>
                </div>
                <div *ngSwitchCase="1">
                    <div class="grid">
                        <div class="col-12 md:col-6">
                            <input type="text" placeholder="Rua" pInputText id="Rua" formControlName="Rua" required
                                [ngClass]="{'p-invalid': submitted && formSteps[1].controls['Rua'].invalid}" />
                            <small class="p-error block" *ngIf="submitted && formSteps[1].controls['Rua'].invalid">Rua é
                                obrigatório.</small>
                        </div>
                        <div class="col-12 md:col-6">
                            <input type="number" placeholder="Número" pInputText id="Numero"
                                formControlName="Numero" required
                                [ngClass]="{'p-invalid': submitted && formSteps[1].controls['Numero'].invalid}" />
                            <small class="p-error block"
                                *ngIf="submitted && formSteps[1].controls['Numero'].invalid">Número
                                é
                                obrigatório.</small>
                        </div>
                        <div class="col-12 md:col-6">
                            <input type="text" placeholder="Complemento" pInputText id="Complemento"
                                formControlName="Complemento" />
                        </div>
                        <div class="col-12 md:col-6">
                            <input type="text" placeholder="Bairro" pInputText id="Bairro" formControlName="Bairro"
                                required [ngClass]="{'p-invalid': submitted && formSteps[1].controls['Bairro'].invalid}" />
                            <small class="p-error block"
                                *ngIf="submitted && formSteps[1].controls['Bairro'].invalid">Bairro
                                é
                                obrigatório.</small>
                        </div>
                        <div class="col-12 md:col-6">
                            <p-inputMask mask="99999-999" placeholder="CEP" formControlName="CEP"
                                [ngClass]="{'p-invalid': submitted && formSteps[1].controls['CEP'].invalid}"
                                [required]="true"></p-inputMask>
                            <small class="p-error block" *ngIf="submitted && formSteps[1].controls['CEP'].invalid">CEP é
                                obrigatório.</small>
                        </div>
                        <div class="col-12 md:col-6">
                            <p-select [options]="municipios" optionLabel="NomeMunicipio" optionValue="Id"
                                placeholder="Selecione o Municipio" formControlName="IdMunicipio" appendTo="body"
                                [ngClass]="{'p-invalid': submitted && formSteps[1].controls['IdMunicipio'].invalid}"></p-select>
                            <small class="p-error block"
                                *ngIf="submitted && formSteps[1].controls['IdMunicipio'].invalid">Município é
                                obrigatório.</small>
                        </div>
                        <div class="col-12 md:col-6">
                            <p-select [options]="estados" optionLabel="NomeEstado" optionValue="Id"
                                placeholder="Selecione o Estado" formControlName="IdEstado" appendTo="body"
                                [ngClass]="{'p-invalid': submitted && formSteps[1].controls['IdEstado'].invalid}"></p-select>
                            <small class="p-error block"
                                *ngIf="submitted && formSteps[1].controls['IdEstado'].invalid">Estado é
                                obrigatório.</small>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </ng-template>

    <ng-template pTemplate="footer">
        <p-button icon="pi pi-angle-left" label="Voltar" (click)="prevPage()" styleClass="p-button-text"
            *ngIf="activeIndex !== 0"></p-button>
        <p-button icon="pi pi-angle-right" iconPos="right" label="Próximo" (click)="nextPage()"
            *ngIf="activeIndex !== steps.length - 1"></p-button>
        <p-button label="Salvar" icon="pi pi-check" (click)="saveUnidade()"
            *ngIf="activeIndex === steps.length - 1"></p-button>
    </ng-template>
</p-dialog>