<app-generic-list 
    [titulo]="titulo" 
    [colunas]="config?.colunas" 
    [endpoint]="endpoint"
    [confirmMessageField]="'NomeEstado'" 
    [itens]="itens"
    (incluir)="onIncluirItem()" 
    (editar)="onEditarItem($event)"
    (excluir)="confirmDelete($event)">
</app-generic-list>

<app-generic-form 
    (onFormHide)="onFormHide($event)"
    [modelo]="endpoint"
    [visible]="isFormVisible"
    [itemSelecionado]="itemSelecionado"
    [id]="itemId">  
    <p-confirmDialog></p-confirmDialog>
</app-generic-form>