<div class="container">
    <p-card header="Login" styleClass="login-card">
        <div class="form-container">
            <div class="field">
                <label for="username">Usuário</label>
                <input type="text" id="username" pInputText [(ngModel)]="username" />
            </div>
            <div class="field">
                <label for="password">Senha</label>
                <input type="password" id="password" pInputText [(ngModel)]="password" />
            </div>
            <p-button label="Entrar" (click)="login()"></p-button>
        </div>
    </p-card>
</div>