.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-card {
    width: 300px;
    margin-bottom: 10px;
}

.form-container {
    display: flex;
    flex-direction: column;
}

.field {
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
}