<app-generic-list
    [titulo]="titulo"
    [colunas]="config?.colunas"
    [endpoint]="endpoint"
    [confirmMessageField]="'NomeMunicipio'"
    [itens]="itens"
    (incluir)="onIncluirItem()"
    (editar)="onEditarItem($event)"
    (excluir)="confirmDelete($event)">
</app-generic-list>

<app-generic-form
    (onFormHide)="onFormHide($event)"
    [modelo]="endpoint"
    [visible]="isFormVisible"
    [itemSelecionado]="itemSelecionado"
    [id]="itemId"
    [selectOptions]="selectOptions"
    optionLabelField="NomeEstado"
    optionValueField="Id"
    filterByField="NomeEstado"> 
    <p-confirmDialog></p-confirmDialog>
</app-generic-form>