<app-generic-list
    [titulo]="titulo"
    [colunas]="config?.colunas"
    [endpoint]="endpoint"
    [confirmMessageField]="'Rua'"
    [itens]="itens"
    (incluir)="onIncluirItem()"
    (editar)="onEditarItem($event)"
    (excluir)="confirmDelete($event)">
</app-generic-list>

<app-generic-form
    (onFormHide)="onFormHide($event)"
    [modelo]="endpoint"
    [visible]="isFormVisible"
    [itemSelecionado]="itemSelecionado"
    (autoCompleteSelect)="onAutoCompleteSelect($event)"
>
</app-generic-form>